<div>Menu</div>
<ul>
    <ul>
        Posts
        <li><a href="{{ path('admin_posts') }}">All</a></li>
        <li>New</li>
        {{ render(controller('AdminBundle:Menu:contentTypesList')) }}
    </ul>
    <ul>
        Users
        <li><a href="{{ path('admin_users') }}">All</a></li>
        <li><a href="{{ path('admin_add_user') }}">New</a></li>
    </ul>
    <ul>
        Content Types
        <li><a href="{{ path('admin_content_types') }}">All</a></li>
        <li><a href="{{ path('admin_add_content_type') }}">New</a></li>
    </ul>
    <ul>
        Taxonomy
        <li><a href="{{ path('admin_taxonomies') }}">All</a></li>
        <li><a href="{{ path('admin_add_taxonomy') }}">New</a></li>
    </ul>
</ul>