<ul>
    <ul>
        Posts
        <li>All</li>
        {{ render(controller('AdminBundle:Menu:contentTypesList', {'mode': 'view'})) }}
        <li>New</li>
        {{ render(controller('AdminBundle:Menu:contentTypesList', {'mode': 'new'})) }}
    </ul>
    <ul>
        Users
        <li><a href="{{ path('admin_users') }}">All</a></li>
        <li><a href="{{ path('admin_add_user') }}">New</a></li>
    </ul>
    <ul>
        Post Types
        <li><a href="{{ path('admin_post_types') }}">All</a></li>
        <li><a href="{{ path('admin_add_post_type') }}">New</a></li>
    </ul>
    <ul>
        Taxonomy
        <li><a href="{{ path('admin_taxonomies') }}">All</a></li>
        <li><a href="{{ path('admin_add_taxonomy') }}">New</a></li>
    </ul>
</ul>