{% extends 'base.html.twig' %}

{% block body %}
    {% include 'AdminBundle::menu.html.twig' %}
    Users
    {% for user in users %}
        <li>ID - {{ user.id }}</li>
        <li>Username - {{ user.username }}</li>
        <li>Email - {{ user.email }}</li>
        <li><a href="{{ path('admin_edit_taxonomy', {'id': user.id}) }}">Edit</a></li>
        <li><a href="{{ path('admin_delete_user', {'id': user.id}) }}">Delete</a></li>
    {% endfor %}
{% endblock %}